<div class = 'detail'>
  <br>
  <table border="1" class="width_hundred">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Organiser</th>
      <th>Subject</th>
    </tr>
      <tr>
        <td><%= @call.date.strftime('%d:%m:%Y') %></td>
        <td><%= @call.time.strftime('%H:%M') %></td>
        <td><%= @call.organiser %></td>
        <td><%= @call.subject %></td>
      </tr>
  </table>
</div>
