<br>
<h1 class="text_centered">Welcome to Meeting Scheduler</h1>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <!-- Image -->
        <div class="large-12 columns">
          <!-- <h4>Meeting Scheduler</h4> -->
          <img src="/assets/homepage.png" class="index_image">
          <br>
          <p  class="text_justified">
          <br>
           Need to organise calls or conference calls across different timezones? Find the best time across time zones suitable for your team members.
          </p>
        </div>

        <!-- End Image -->

      </div>
    </div>
  </div>