#container {
  width: 960px;
  margin: auto;
}

nav li{
display: inline;
list-style: none;
}

nav ul {
  margin-left: none;
  text-align: right;
}

a:hover{
  text-decoration: underline;
}

.detail li{
  display: inline;
  border: 1px solid green;
  margin: 20px;
}

.logo {
  width: 400px;
  height: 100px;
  margin: auto;
  font-size: 60px;
  }

