.logo {
  width: 400px;
  height: 100px;
  margin: auto;
  font-size: 60px;
  }

/*li{
display: inline;
list-style: none;
margin: 10px;
}*/

ul {
  margin-left: none;
  text-align: center;
}

a:hover{
  text-decoration: underline;
}

input[type="text"]{
  width: 400px;
}

input[type="password"] {
  width: 400px;
}

select {
  width: 300px;
}

.checker {
  text-align: center;
}

.checker input {
  width: auto;
}

.bttn {

button-style: radius;

}


body {
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-content{
  text-align: center;
  font-size: 1em;
}
#user_timezone{
}
